<img src='https://www.insaid.co/wp-content/uploads/2018/04/INSAID_Logo-1.png' height="240" width="360"/>
<br/>
# Python basics

### 1.Write a Python program to print the following string

Sample String: "Welcome to <b>INSAID</b>- International School of AI and Data Science"

In [1]:
print("Welcome to INSAID- International School of AI and Data Science")
#for all the function we have to use () and not [] neither {}

Welcome to INSAID- International School of AI and Data Science

### 1.1 In a “Hello, World!” program, a comment may look like this:

In [2]:
# Print “Hello, World!” to console
print("Hello, World!")

Hello, World!

In [3]:
# Define sharks variable as a list of strings ('hammer', 'white', 'fish', 'frilled', 'bullhead', 'requiem')
sharks = ['hammer', 'white', 'fish', 'frilled', 'bullhead', 'requiem']

# For loop that iterates over sharks list and prints each string item

#print(sharks[2])

for word in sharks: # start:go-til-but-do-not-include
    print(word)

print('--------')
    
for i in range(0,6):
    print(sharks[i])

hammer
white
fish
frilled
bullhead
requiem
--------
hammer
white
fish
frilled
bullhead
requiem

### 2.Write a Python Program to Add Two Numbers

In [4]:
# initialise two varaibles
p1 = 20
p2 = 10

# Add two numbers
total = p1 + p2

# Display the sum
print('total ice cream eatern is', total)

#later we might need this total

total ice cream eatern is 30

### 3.Write a Python Program to Find the product of two numbers

In [5]:
n1 = 20
n2 = 10

product = n1 * n2

print('product is', product)
print('total ice cream eatern is', total)

product is 200
total ice cream eatern is 30

### 4.Write a python program to find the area of triangle given height and base of the triangle as 3 and 10.

In [6]:
# Area of the triangle A= 1/2(base * height)

height = 3
base = 10

area = 0.5 * base * height

#given height=3 and base =10
print('the area of the triangle is {}'.format(area))

the area of the triangle is 15.0

### 5.Python Program to Swap Two Variables

In [7]:
# initialise two varaibles

a = 10
b = 15

temp = a
a = b
b = temp


# create a temporary variable and swap the values

print('a = ', a, 'b =',b)

print('a = {} b = {}'.format(a,b)) #{} - something will come in place here

a =  15 b = 10
a = 15 b = 10

## Section

### 1.Write a python program to print datatype of a varaible

In [8]:
a = 1
print('datatype of a is {}'.format(type(a)))

b = 2.0
print('datatype of b is', type(b))

c = 1+2j #iota = sqrt(-1) - j
print('datatype of c is', type(c))

datatype of a is <class 'int'>
datatype of b is <class 'float'>
datatype of c is <class 'complex'>

### 2.Write a python program to extract an item or a range of items from a list.

In [9]:
a = [15,20,35,40,45,30,35,60]

# Print the item at index 2
print(a[2])

# Print the first 3 items
print(a[0:3])

# Print the last 3 items
print(a[-3:])

# Start to third last item
print(a[:-2])

35
[15, 20, 35]
[30, 35, 60]
[15, 20, 35, 40, 45, 30]

### 3.Converting Floats to Integers

In [10]:
b = 125.0
c = 390.8

# Print the Integer values

print(int(b))
print(int(c))

125
390

### 4.Converting Numbers to Strings

In [11]:
a = 10

#print(a, "is of type", type(a))

# Convert the value in a to a string and then print

value = str(a)

#print(value, "is of type", type(value))

value

'10'

### 5.Converting Strings to Numbers

In [85]:
a = "50"
b = "108"

# Find the difference between a and b


print(int(a), int(b))

50 108

### 6.Converting list to Tuples

In [12]:
myList = ['request', 'source', 'repository', 'branch']

print(myList)
print(tuple(myList))

# Print myList to a Tuple

['request', 'source', 'repository', 'branch']
('request', 'source', 'repository', 'branch')

### 7.Converting tuple to Lists

In [13]:
myTuple = ('blue', 'red', 'white')

print(list(myTuple))
# Print myTuple to a List

['blue', 'red', 'white']

### 8.converting strings to lists:

In [14]:
myString = 'INSAID'

# Convert myString to List
print(list(myString))

['I', 'N', 'S', 'A', 'I', 'D']

### 9.Assign different data types to a varibles

In [15]:
# Try string, float, boolean, list, tuple, dictionary

string = 'we are in a python class'
my_float = 45.96
my_bool = 9>5
my_list = [1,2,3] 
my_tuple = (1,2,3)
my_dict = {1:25, 2:6, 'india': 5}

In [16]:
my_dict['india']

5

## Section

### Print out a string that uses a formatter

In [16]:
# Print "john has 5 cars." using formatter

name = 'John'
number = 5

print('{} has {} cars'.format(name, number))

John has 5 cars

### We can also assign a variable to be equal to the value of a string that has formatter placeholders:

In [21]:
open_string = "john likes {}."
abcd = 'open source'

# Use format method to print the following output "john likes open source."

print(open_string.format(abcd))

print(open_string.format('open source'))

print("john likes {}.".format('open source'))

print("john likes open source.")

john likes open source.
john likes open source.
john likes open source.
john likes open source.

### Using Formatters with Multiple Placeholders

In [22]:
new_open_string = "john likes {} {}."                      #2 {} placeholders
# Pass 2 strings into format method, separated by a comma to get output "john likes open-source software."

print(new_open_string.format('open-source', 'software'))

john likes open-source software.

In [ ]:
sammy_string = "john loves {} {}, and has {} {}."                      #4 {} placeholders
# Pass 4 strings into method to get output "john loves open-source software, and has 5 balloons."

### Reordering Formatters with Positional and Keyword Arguments

In [23]:
# Reference sample
print("john the {} has a pet {}!".format("shark", "pilot fish"))

#"" and '' - 'deepesh said "hi!"'

john the shark has a pet pilot fish!

### We can pass these index numbers into the curly braces that serve as the placeholders in the original string:

In [ ]:
# Reference Sample
print("john the {0} has a pet {1}!".format("shark", "pilot fish"))

print("john is a {}, {}, and {} {}!".format("happy", "smiling", "blue", "shark"))

#method is some function prebuilt for that kind of variable. 
format(text, values)

In [29]:
print("My name is {1} {0}. I stay in {2}".format("Panda","Nirmal","Delhi"))

My name is Nirmal Panda. I stay in Delhi

### Python Program to Get String Input from User

In [31]:
#Enter any string and print it

inputstring = input('the string: ')

print(inputstring)

the string: i am in a python class
i am in a python class

In [33]:
value = int(input('Input a number: '))

print(value*2)

Input a number: 2
4

### Python program for conditional statements

### 1)If the student receives over 65% on her test, report that her grade passes; if not, report that her grade fails

In [6]:
#grade = 70

#if conditions

# if <condition>:
#     <what you want to do>
#else:
#     <do this>

grade = float(input('Input your score: '))

if grade>=65:
    status = 'Pass'
else:
    status = 'Fail'

print(status)

Input your score: 65.0001
Pass

In [ ]:
# Use only if
grade = 60

### Write a python program calculate whether a bank account balance is below 0 and print appropriate message.

In [8]:
# Use if else
balance = 522

if balance<=0:
    print('insufficient balance')
else:
    print('please go ahead')

please go ahead

### Using Else if statement

In [13]:
balance = 40

if balance<=0:
    print('insufficient balance')
elif balance<=50:
    print('get more money')
elif balance<=100:
    print('you are rich')
else:
    print('you are very rich')

get more money

In [15]:
balance = 40
if balance <=0:
    print("insufficient balance")
elif balance<50:
    print("get more money")
elif balance<=100:
    print("you are rich")
else:
    print("you are very rich")

get more money

### Python program to print  Fibonacci series between 0 to 50.

In [33]:
#0,1,1,2,3,5,8....

a=0
b=1
print(1, ',', a)
print(2,',',  b)

for i in range(0,48):
    new = a+b
    if new<50:
        print(i+3,',',new)
        a=b
        b=new
    else:
        break

1 , 0
2 , 1
3 , 1
4 , 2
5 , 3
6 , 5
7 , 8
8 , 13
9 , 21
10 , 34

In [30]:
a=0
b=1
fib=list()

fib.append(a)
fib.append(b)

for i in range(0,48):
    print(fib)
    a = fib[-2]
    b = fib[-1]
    new = a+b
    if new<50:
        fib.append(new)
    else: break
    
print(fib)

[0, 1]
[0, 1, 1]
[0, 1, 1, 2]
[0, 1, 1, 2, 3]
[0, 1, 1, 2, 3, 5]
[0, 1, 1, 2, 3, 5, 8]
[0, 1, 1, 2, 3, 5, 8, 13]
[0, 1, 1, 2, 3, 5, 8, 13, 21]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

### Python program to find numbers which are divisible by 7 and multiple of 5 between a range 150 to 270

In [37]:
for i in range(150, 271):
    if i%7 == 0 and i%5 == 0:
        print(i)

175
210
245

In [35]:
for i in range(150, 271):
    if i%35 == 0:
        print(i)

175
210
245

### Python program to Sum all the items in a list

In [43]:
def sum_list(items):
    sum_number=0
    for i in items:
        sum_number = sum_number + i
    #print(sum_number)
    return sum_number

print(sum_list([20,12,20,22]))

#sum_list([20,12,20,22])

74

### Python program to Remove duplicates from a list.

In [56]:
a = [10,20,30,40,50,60,70,40,80,50,40]

dup = set()
unique = []

for i in a:
    if i not in dup:
        unique.append(i)
        dup.add(i)
        
print(unique)

[10, 20, 30, 40, 50, 60, 70, 80]

In [59]:
a = sorted(list(set(a)))
print(a)

[10, 20, 30, 40, 50, 60, 70, 80]

### Python program to Get the largest number from a list.

In [60]:
def max_num_in_list( list ):
    largest = 0
    for i in list:
        if i>largest:
            largest = i
    return largest

print(max_num_in_list([1, 12, 28, 0]))

28

### Concatenation of Tuples.

In [61]:
# Code for concatenating 2 tuples
 
tuple1 = (0, 1, 2, 3)
tuple2 = ('python', 'code')
 
# Concatenating above two
print(tuple1 + tuple2)

(0, 1, 2, 3, 'python', 'code')

### Nesting of Tuples.

In [62]:
# Code for creating nested tuples
 
tuple1 = (0, 1, 2, 3)
tuple2 = ('python', 'code')
tuple3 = (tuple1, tuple2)
print(tuple3)

((0, 1, 2, 3), ('python', 'code'))

### Write a Python program to add an item in a tuple.

In [69]:
# Create a tuple & print

tuplex = (1,3,5,7,9)
print(tuplex)

#tuples are immutable, so you can not add new elements
#using merge of tuples with the + operator you can add an element and it will create a new tuple

tuplex= tuplex[:5] + (11,13,15)
print(tuplex)
# Adding items in a specific index

(1, 3, 5, 7, 9)
(1, 3, 5, 7, 9, 11, 13, 15)

### Write a Python program to remove an item from a tuple.

In [73]:
# Create a tuple and print it
tuplex = ('i','n','d','i','a')
print(tuplex)
# Find a way to remove an item of the tuple (Hint: Use other data types)
listx = list(tuplex)
listx.remove('i')
listx.remove('i')
tuplex = tuple(listx)
print(tuplex)

('i', 'n', 'd', 'i', 'a')
('n', 'd', 'a')

### Python Program to Check if a given key already exists in a dictionary.

In [77]:
d = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

def is_key_present(x):
  if x in d:
    print('Key {} is present'.format(x))
  else:
    print('key {} is absent'.format(x))

is_key_present(5)
is_key_present(9)

Key 5 is present
key 9 is absent

### Write a Python script to merge two Python dictionaries.

In [78]:
d1 = {'a': 100, 'b': 200}
d2 = {'x': 300, 'y': 200}

d2.update(d1)
print(d2)

{'x': 300, 'y': 200, 'a': 100, 'b': 200}

### Write a Python function to find the Max of three numbers.

In [79]:
def max_of_two( x, y ):
    if x>y:
        return x
    else: return y

def max_of_three( x, y, z ):
    return max_of_two(x,max_of_two(y,z))


print(max_of_three(13, 26, -5))

26

### Write a Python program to reverse a string.

In [80]:
def string_reverse(str1):
    
    rstring = ''
    index = len(str1) # 6
    
    while index>0:
        rstring = rstring + str1[index-1]
        index = index - 1 
    return rstring
print(string_reverse('INSAID'))


#insaid
#diasni

DIASNI

### Write a Python function to calculate the factorial of a number

In [ ]:
def factorial(n):
    # Your code here
    return # The answer
n=int(input("Input a number to compute the factiorial : "))
print(factorial(n))

### Write a Python function to sum all the numbers in a list.

In [ ]:
def sum(numbers):
    # Your code goes here
    return # Your Answer
print(sum((8, 2, 3, 0, 7)))

### Write a Python function to check whether a number is in a given range.

In [ ]:
def test_range(n):
    # Your code
    return # Your answer 
test_range(5)

### Find the value of pi using math module.

In [ ]:
# import statement example
# to import standard module math

import math

### Write a Python program to read an entire text file.

### Content of text.txt.

### What is Python language?      

#### Python is a widely used high-level, general-purpose, interpreted, dynamic programming language.

In [ ]:
def file_read(fname):
    # Your code goes in here
    return

file_read('test.txt')

### Write a Python program to read a file line by line and store it into a list.

In [ ]:
def file_read(fname):
        # Your code goes in here
        return

file_read('test.txt')

### Write a Python program to calculate the discriminant value. (b <sup>2</sup> - 4ac)

In [9]:
def discriminant():
    a_value = float(input('The a value: '))
    b_value = float(input('The b value: '))
    c_value = float(input('The c value: '))
    
    # Calculate the discriminant here
    
    return # The value


discriminant()

The a value: 11
The b value: 111
The c value: 111

In [10]:
print('Hello World')

Hello World

In [ ]:
print('What am I typing are you able to see?')

In [3]:
def reve1(str1):
    st2 = ''
    index = len(str1)
    while index >0:
        st2 = st2 + str1[index-1]
        index = index -1
    return st2

print(reve1('ram'))

mar